# Import Libraries

In [2]:
import pandas as pd 
import numpy as np 
import plotly.express as px

# Read Data

In [3]:
df = pd.read_csv('Udemy Courses.csv')
df

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments
...,...,...,...,...,...,...,...,...,...,...,...
3677,328960,Your Own Site in 45 Min: The Complete Wordpres...,True,120,1566,29,36,All Levels,4 hours,2015-04-20T22:15:17Z,Web Development
3678,552700,Your Second Course on Piano: Two Handed Playing,True,70,1018,12,22,Beginner Level,5 hours,2015-10-26T20:04:21Z,Musical Instruments
3679,631754,Zend Framework 2: Learn the PHP framework ZF2 ...,True,40,723,130,37,All Levels,6.5 hours,2015-11-11T18:55:45Z,Web Development
3680,1225194,Zoho Books Gestion Financière d'Entreprise pas...,False,Free,229,0,33,All Levels,2 hours,2017-05-26T16:45:55Z,Business Finance
3681,964478,Zombie Apocalypse Photoshop Actions,True,50,12,1,15,All Levels,1.5 hours,2016-09-26T22:19:48Z,Graphic Design

# Data Info

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3682 entries, 0 to 3681
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3682 non-null   int64
 1   course_title         3682 non-null   object
 2   is_paid              3682 non-null   bool
 3   price                3682 non-null   object
 4   num_subscribers      3682 non-null   int64
 5   num_reviews          3682 non-null   int64
 6   num_lectures         3682 non-null   int64
 7   level                3682 non-null   object
 8   content_duration     3682 non-null   object
 9   published_timestamp  3682 non-null   object
 10  subject              3682 non-null   object
dtypes: bool(1), int64(4), object(6)
memory usage: 291.4+ KB

In [5]:
df.dtypes

course_id               int64
course_title           object
is_paid                  bool
price                  object
num_subscribers         int64
num_reviews             int64
num_lectures            int64
level                  object
content_duration       object
published_timestamp    object
subject                object
dtype: object

In [6]:
df.isnull().sum() / df.shape[0]

course_id              0.0
course_title           0.0
is_paid                0.0
price                  0.0
num_subscribers        0.0
num_reviews            0.0
num_lectures           0.0
level                  0.0
content_duration       0.0
published_timestamp    0.0
subject                0.0
dtype: float64

In [7]:
df.shape

(3682, 11)

In [8]:
df.isnull().mean()

course_id              0.0
course_title           0.0
is_paid                0.0
price                  0.0
num_subscribers        0.0
num_reviews            0.0
num_lectures           0.0
level                  0.0
content_duration       0.0
published_timestamp    0.0
subject                0.0
dtype: float64

In [9]:
df.duplicated().sum()

6

In [10]:
df.drop_duplicates(inplace = True , ignore_index=True )

In [11]:
df.reset_index(inplace = True , drop = True )

### Q. 1) What are all different subjects for which Udemy is offering courses ?

In [12]:
df['subject'].unique()

array(['Musical Instruments', 'Business Finance', 'Graphic Design',
       'Web Development'], dtype=object)

In [13]:
df['subject'].nunique()

4

### Q. 2) Which subject has the maximum number of courses.

In [14]:
df['subject'].value_counts()

Web Development        1199
Business Finance       1195
Musical Instruments     680
Graphic Design          602
Name: subject, dtype: int64

In [15]:
df.groupby(['subject'])['course_id'].count().sort_values(ascending = False )

subject
Web Development        1199
Business Finance       1195
Musical Instruments     680
Graphic Design          602
Name: course_id, dtype: int64

### Q. 3) Show all the courses which are Free of Cost.

In [16]:
df['price']

0         35
1         75
2         75
3         75
4         75
        ...
3671     120
3672      70
3673      40
3674    Free
3675      50
Name: price, Length: 3676, dtype: object

In [17]:
df['price'].apply(lambda x : 0 if x == 'Free' else int(x) )

0        35
1        75
2        75
3        75
4        75
       ...
3671    120
3672     70
3673     40
3674      0
3675     50
Name: price, Length: 3676, dtype: int64

In [18]:
df['price'] = df['price'].apply(lambda x : '0' if x == 'Free' else x )

In [19]:
pd.to_numeric(df['price'])

0        35
1        75
2        75
3        75
4        75
       ...
3671    120
3672     70
3673     40
3674      0
3675     50
Name: price, Length: 3676, dtype: int64

In [20]:
df['price'].astype('int')

0        35
1        75
2        75
3        75
4        75
       ...
3671    120
3672     70
3673     40
3674      0
3675     50
Name: price, Length: 3676, dtype: int32

In [21]:
df['price'] = pd.to_numeric(df['price'])

In [22]:
df[ df['price'] == 0 ].shape[0]

310

In [23]:
df[ df['price'] == 0 ].count()

course_id              310
course_title           310
is_paid                310
price                  310
num_subscribers        310
num_reviews            310
num_lectures           310
level                  310
content_duration       310
published_timestamp    310
subject                310
dtype: int64

In [24]:
df[ df['price'] == 0 ]['price'].value_counts()[0]

310

### Q. 4) Show all the courses which are Paid.

In [25]:
df['is_paid'].dtypes

dtype('bool')

In [26]:
df[df['is_paid'] == True ]['is_paid'].nunique()

1

In [27]:
df[df['is_paid'] == True ]['is_paid'].value_counts()

True    3366
Name: is_paid, dtype: int64

### Q. 5) Which are Top Selling Courses ?

In [28]:
df.groupby(['course_title'])['num_subscribers'].sum().sort_values(ascending = False ).head(5)

course_title
Learn HTML5 Programming From Scratch                      268923
Coding for Entrepreneurs Basic                            161029
The Web Developer Bootcamp                                121584
Build Your First Website in 1 Week with HTML5 and CSS3    120291
The Complete Web Developer Course 2.0                     114512
Name: num_subscribers, dtype: int64

### Q. 6) Which are Least Selling Courses ?

In [29]:
df.groupby(['course_title'])['num_subscribers'].sum().sort_values(ascending = False ).tail(5)

course_title
Accounting - The 6 most important rules you must learn    0
Basic Bookkeeping                                         0
Building a Balanced Scorecard                             0
Photoshop: Creando elemental de aire                      0
Learn to trade using technical analysis                   0
Name: num_subscribers, dtype: int64

### Q. 7) Show all courses of Graphic Design where the price is below 100 ?

In [30]:
df[  (df['subject'] == 'Graphic Design')  &  (df['price']<100)  ]

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
8,206592,:::Beginners Guide To Creating Amazing Images ...,True,25,72,5,17,Beginner Level,1 hour,2014-04-29T19:50:31Z,Graphic Design
20,1165268,15 Motion Graphic Elements in After Effect (S...,True,30,8,0,20,Intermediate Level,3 hours,2017-04-11T04:27:34Z,Graphic Design
35,1164876,3DS MAX - Learn 3Ds MAX tutorial for Beginners...,True,20,785,2,29,All Levels,4.5 hours,2017-04-18T16:45:59Z,Graphic Design
39,599652,48 Logo Designs and Techniques,True,20,113,9,48,All Levels,9 hours,2015-09-15T00:23:14Z,Graphic Design
52,794036,8 Stunden professionelles Cinema 4D Training,True,50,18,1,38,All Levels,8.5 hours,2016-03-22T20:51:28Z,Graphic Design
...,...,...,...,...,...,...,...,...,...,...,...
3562,133968,Web Elements Design With Photoshop,True,45,5072,38,44,All Levels,5 hours,2014-10-21T19:18:12Z,Graphic Design
3582,1131780,"Whiteboard Animation, Beginner To Expert - In ...",True,20,1343,25,16,All Levels,1 hour,2017-03-14T20:52:30Z,Graphic Design
3633,1122306,Wordpress: Comment utiliser le thème FABLE,True,20,1,0,10,Beginner Level,39 mins,2017-03-07T16:53:27Z,Graphic Design
3665,144222,"YOU can Draw, Shade and Paint a Mixed Media Gi...",True,30,1249,44,19,Beginner Level,3 hours,2014-01-28T02:30:26Z,Graphic Design
3675,964478,Zombie Apocalypse Photoshop Actions,True,50,12,1,15,All Levels,1.5 hours,2016-09-26T22:19:48Z,Graphic Design

### Q. 8) List out all the courses that are related to 'Python'.

In [31]:
df[ df['course_title'].str.contains('Python')]

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
216,599504,Advanced Scalable Python Web Development Using...,True,120,1299,56,71,Intermediate Level,14 hours,2016-08-11T22:09:24Z,Web Development
776,47963,"Coding for Entrepreneurs: Learn Python, Django...",True,195,23412,799,251,All Levels,45 hours,2013-04-08T00:46:14Z,Web Development
813,631128,Complete Python Web Course: Build 8 Python Web...,True,110,7489,941,173,All Levels,16 hours,2015-11-08T20:57:35Z,Web Development
841,186096,"Core: A Web App Reference Guide for Django, Py...",True,195,2497,98,154,All Levels,26 hours,2014-05-29T00:58:43Z,Web Development
1398,394832,Fun and creative web engineering with Python a...,False,0,10917,319,25,All Levels,2 hours,2015-06-09T19:51:50Z,Web Development
1929,1038538,Introduction to QGIS Python Programming,True,85,197,26,28,Beginner Level,3.5 hours,2016-12-22T00:11:22Z,Web Development
1966,902888,Investment Portfolio Analysis with Python,True,50,209,13,37,All Levels,7 hours,2016-07-13T21:40:32Z,Business Finance
2291,391546,Learn Python and Django: Payment Processing,True,70,17714,198,23,All Levels,3.5 hours,2015-02-09T15:37:56Z,Web Development
2292,1063722,Learn Python Django - A Hands-On Course,True,50,1339,21,18,Beginner Level,2 hours,2017-01-18T21:53:34Z,Web Development
2338,546848,Learn to code in Python and learn Adobe Photos...,True,50,1132,1,29,All Levels,2 hours,2015-07-08T00:15:12Z,Graphic Design
2901,368340,Professional Python Web Development Using Flask,True,120,3420,489,102,Beginner Level,14.5 hours,2015-03-04T00:10:36Z,Web Development
2903,1035940,Professional RESTful API Design using Python F...,True,120,578,25,36,Intermediate Level,4.5 hours,2017-01-11T21:15:25Z,Web Development
2924,270808,Projects in Django and Python,True,60,1764,53,28,All Levels,6.5 hours,2014-10-21T07:58:07Z,Web Development
2947,1170894,Python Algo Stock Trading: Automate Your Trading!,True,95,1165,21,41,Beginner Level,2.5 hours,2017-05-28T23:41:03Z,Business Finance
2948,1070886,Python Algo Trading: FX Trading with Oanda,True,200,453,42,33,Intermediate Level,3 hours,2017-03-14T00:39:45Z,Business Finance
2949,1196544,Python Algo Trading: Sentiment Trading with News,True,200,294,19,42,All Levels,7 hours,2017-04-28T16:41:44Z,Business Finance
2950,822444,Python and Django Full Stack Web Developer Boo...,True,200,11832,1883,191,All Levels,31.5 hours,2017-02-24T18:40:55Z,Web Development
2951,477702,Python for Beginners: Python Programming Langu...,True,150,6153,125,84,Beginner Level,5 hours,2015-06-14T18:18:57Z,Web Development
2952,1035472,Python for Finance: Investment Fundamentals & ...,True,195,3811,278,103,All Levels,6.5 hours,2017-03-30T22:17:09Z,Business Finance
2953,529828,Python for Trading & Investing,True,95,638,25,36,All Levels,5 hours,2015-06-17T22:23:31Z,Business Finance
2954,70640,Python Programming: Create an Digital Marketpl...,True,195,4198,145,161,All Levels,26 hours,2013-10-20T19:53:28Z,Web Development
2955,523312,Python Web Programming,True,100,1020,46,60,Beginner Level,6 hours,2015-07-01T21:46:36Z,Web Development
2957,1088656,Quantitative Trading Analysis with Python,True,50,256,17,49,All Levels,5.5 hours,2017-01-27T17:11:28Z,Business Finance
3008,970600,REST APIs with Flask and Python,True,110,5151,737,115,Intermediate Level,12.5 hours,2016-11-06T19:00:38Z,Web Development
3149,815482,Stock Technical Analysis with Python,True,50,409,35,46,All Levels,8 hours,2016-04-12T00:40:03Z,Business Finance
3267,938560,The Complete Ethical Hacking Course 2.0: Pytho...,True,195,7827,268,66,All Levels,11 hours,2016-09-26T15:08:29Z,Web Development
3455,76052,Try Django 1.9 | Build a Blog and Learn Python...,True,50,7407,172,147,All Levels,20 hours,2014-03-04T07:12:21Z,Web Development
3567,16646,Web Programming with Python,True,50,35267,217,53,All Levels,4 hours,2012-04-25T00:01:43Z,Web Development
3568,574082,"Web Scraping with Python, Ruby & import. io",True,75,973,50,46,All Levels,4.5 hours,2015-08-09T22:16:41Z,Web Development

### Q. 9) What are courses that were published in the year 2015 ?

In [32]:
df['published_timestamp'].dtypes

dtype('O')

In [33]:
df['published_timestamp'] = pd.to_datetime(df['published_timestamp'])

In [34]:
df['Year'] = df['published_timestamp'].dt.year

In [35]:
df[df['Year'] == 2015]

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,Year
10,591880,1 - Concepts of Statistics For Beginners Step ...,True,200,273,4,15,Beginner Level,31 mins,2015-08-30 22:48:34+00:00,Business Finance,2015
16,302450,10 Numbers Every Business Owner Should Know,True,20,13,1,9,All Levels,1 hour,2015-03-08 19:11:24+00:00,Business Finance,2015
19,384928,101 Blues riffs - learn how the harmonica supe...,True,200,1350,65,55,Intermediate Level,6.5 hours,2015-01-04 21:14:31+00:00,Musical Instruments,2015
23,550842,16 Guitar Chords to Jam With - (Beginner - Int...,True,20,1224,19,20,Beginner Level,1 hour,2015-07-10 19:53:56+00:00,Musical Instruments,2015
26,486240,2 Easy Steps To Investment And Avoiding Traps,True,20,828,1,20,All Levels,1 hour,2015-04-27 23:18:59+00:00,Business Finance,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
3669,551170,Your First Course on Piano,True,70,2002,34,33,Beginner Level,4 hours,2015-07-16 17:07:49+00:00,Musical Instruments,2015
3670,498488,Your First Successful Forex Trades - With Case...,True,200,1079,34,16,All Levels,2.5 hours,2015-05-26 20:48:48+00:00,Business Finance,2015
3671,328960,Your Own Site in 45 Min: The Complete Wordpres...,True,120,1566,29,36,All Levels,4 hours,2015-04-20 22:15:17+00:00,Web Development,2015
3672,552700,Your Second Course on Piano: Two Handed Playing,True,70,1018,12,22,Beginner Level,5 hours,2015-10-26 20:04:21+00:00,Musical Instruments,2015
3673,631754,Zend Framework 2: Learn the PHP framework ZF2 ...,True,40,723,130,37,All Levels,6.5 hours,2015-11-11 18:55:45+00:00,Web Development,2015

### Q. 10) What is the Max. Number of Subscribers for Each Level of courses ?

In [36]:
df.groupby(['level'])['num_subscribers'].sum().sort_values(ascending = False )

level
All Levels            6872827
Beginner Level        4052843
Intermediate Level     742005
Expert Level            50196
Name: num_subscribers, dtype: int64

In [37]:
df.groupby(['level'])['num_subscribers'].agg(['max' , 'min' , 'mean'])

                       max  min         mean
level
All Levels          268923    0  3564.744295
Beginner Level      161029    0  3193.729708
Expert Level          5172    1   865.448276
Intermediate Level   29167    0  1762.482185

In [38]:
df.groupby(['level'])['num_subscribers'].describe()

,count,mean,std,min,25%,50%,75%,max
level,,,,,,,,
All Levels,1928.0,3564.744295,10879.990828,0.0,164.00,998.0,2567.00,268923.0
Beginner Level,1269.0,3193.729708,8704.141506,0.0,81.00,966.0,2918.00,161029.0
Expert Level,58.0,865.448276,1139.629259,1.0,56.75,459.0,1253.75,5172.0
Intermediate Level,421.0,1762.482185,3387.240039,0.0,68.00,481.0,1758.00,29167.0